body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  color: #94a3b8;
}
